<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row justify-content-center>
    <ion-img width="170" height="170" src="assets/imgs/app-icon.png"></ion-img>
  </ion-row>
  <form [formGroup]="authForm" (ngSubmit)="loginUser(authForm.value)">
    <!-- Email input -->
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="authForm.get('email').hasError(validation.type) && (authForm.get('email').dirty || authForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <!-- Password input -->
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false"></ion-input>
      <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="authForm.get('password').hasError(validation.type) && (authForm.get('password').dirty || authForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <!-- Sign in button -->
    <button ion-button full color="primary" style="margin-top: 20px;" type="submit">Sign in</button>
  </form>
  <button ion-button clear color="lightDark" style="text-transform: none;" float-left (click)="goToForgot()">Lost your password ?</button>
  <button ion-button clear color="lightDark" style="text-transform: none;" float-right (click)="goToRegister()">Sign up here</button>
</ion-content>