<ion-header>
  <ion-navbar>
    <ion-title>
      Forgot password
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row justify-content-center>
    <ion-img width="170" height="170" src="assets/imgs/app-icon.png"></ion-img>
  </ion-row>
  <form [formGroup]="authForgotForm" (ngSubmit)="onSubmit(authForgotForm.value)">
    <!-- Email input -->
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="authForgotForm.get('email').hasError(validation.type) && (authForgotForm.get('email').dirty || authForgotForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <!-- Reset password button -->
    <button ion-button full color="primary" [disabled]="!authForgotForm.valid" style="margin-top: 20px;" type="submit">Reset password</button>
  </form>
  <button ion-button clear color="lightDark" style="text-transform: none;" float-left>Sign in here</button>
  <button ion-button clear color="lightDark" style="text-transform: none;" float-right>Sign up here</button>
</ion-content>